.form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    
    &__message {
      box-sizing: border-box;
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding: 0 10px;
    }
    &__mask {
      background-color: #FFFFFF;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        line-height: 50px;
        font-size: 20px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      color: $word-white;
      float: right;
      font-size: 16px;
      line-height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      border: none;
    }
}