$navy : #2f3e51;
$dark-navy: #253141;
$white-smoke: #f5f5f5;
$light-gray: #DCDCDC;
$word-white: #FFFFFF;
$main-group-black: #333333;
$word-light-gray: #999999;
$light-blue: #38AEF0;
$date-color: #999999;
$word-black: #434A54;
$gray-border: #eeeeee;

$white-flash: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue-flash: #38AEF0;
$light_gray-flash: #999;
$black-flash: #434a54;
$alert_orange: #F35500;
$button-white: white;
